<h1 class="display-4">AboutMe</h1>
<h2 class="display-2">Summer Gasaway</h2>
<img src="~/assets/summerPicture.jpg" style="height: 500px; width = 500px" alt="Picture of Me" />
<p>Hi! I'm Summer! I'm a fifth year game development major. I wanted to create
    this application to better store the information of all of the books that I have.
    <br>
    I originally wanted to create something similar to Pinterest but for outfit selection. 
    However, that turned out to be far above my abilities.</p>
