@model IEnumerable<Title>
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library Organizer</h1>
    <a asp-controller="Library" asp-action="LibraryIndex" class="btn btn-outline-dark">View Library</a>
    @*<a asp-controller="Library" asp-action="CreateLibrary" class="btn btn-outline-dark">Create Library</a>*@
</div>


